{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <img src="/img/home/grainyphotos-cover.webp" alt="Website banner comprising an old large format film camera pencil drawing of the left with the text: GRAINY PHOTOS, FILM PHOTOGRAPHY. A black-and-white photo on the right shows an arid landscape with a large dessicated tree in the left foreground with rolling hills in the mid and background." ></br>
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</br>My latest posts:
</article>
{{- end -}}
